#footer{
    background-color: cornflowerblue;
}
footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    background-color: cornflowerblue;
    height: 100px;
    max-width: 80%;
    margin: auto;
    padding-top: 30px;
}