menu {
  display: grid;
  margin: 0px;
  grid-template-columns: 80px 1fr;
  height: 80px;
  background-color: cornflowerblue;
  padding-left: 0px;

  #logo {
    img {
      width: 100%;
      margin-top: 8px;
      margin-left: 40px;
    }
  }

  ul {
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
    margin-right: 40px;

    li {
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      color: white;
      cursor: pointer;

      a {
        color: white;
        text-decoration: none;
        position: relative;

        img {
          max-width: 30px;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
.busket-menu{
  position: absolute;
  width: 350px;
  background-color: white;
  padding: 10px;
  right: 8px;
  color: cornflowerblue;
  border-radius: 10px;
  .busket-item{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    margin-bottom: 10px;
  }
  .busket-item:last-child{
    margin-bottom: 0px;
  }
}
.banner{
    min-height: 350px;
    overflow: hidden;
    background: url(../../../assets/banner.jpg);
    background-size: cover;
    background-position-y: center;
}
