<!-- <div>
  buscket {{buscketCount}}
  <button (click)="showBuscket()">Show busket</button>
  <div class="header-busket" *ngIf="showBusketProduct">
    <p *ngIf="!productInBuscket?.length">Busket is empty</p>
    <div *ngIf="productInBuscket?.length">
      <div *ngFor='let prod of productInBuscket;let i = index'>
        {{prod}}
        <button (click)="deleteFromBusket(i)"></button>
      </div>
    </div>
  </div>
</div> -->

<menu>
  <div id="logo"><a routerLink="/home" routerLinkActive="activebutton"><img src="./../../../assets/logo.png" alt=""></a></div>
  <div id="menu-item">
      <ul>
          <li><input type="text"></li>
          <li><a routerLink="/home" routerLinkActive="activebutton">Home</a></li>
          <li><a routerLink="/catalog" routerLinkActive="activebutton">Catalog</a></li>
          <li><a (click)="showBuscket()"><img src="./../../../assets/busket.png" alt="">{{busketCount?.length?busketCount?.length:0}}</a></li>
          <li><app-user-menu></app-user-menu></li>
      </ul>
  </div>
</menu>
<div class="header-busket" *ngIf="showBusketProduct">
  <div class='busket-menu' *ngIf="!busketCount?.length">Busket is empty</div>
  <div class='busket-menu' *ngIf="busketCount?.length">
    <div *ngFor='let prod of busketCount;let i = index'>
      {{prod}}
      <button (click)="deleteFromBusket(i)">Remove</button>
    </div>
  </div>
</div>
<div class="banner">
  
</div>
