<div class='detail-info'>
  <div class='big-img'>
    <img src="{{item.imgUrl?item.imgUrl:defaultImg}}" alt="">
  </div>
  <div class='title-info'>
    <div class='prod-title'>
      {{item.title}}
    </div>
    <div>
      {{item.country}}
    </div>
    <div>
      {{item.material}}
    </div>
    <div>
        {{item.gender}}
      </div>
  </div>
  <div class='main-info'>
    <div>
        {{item.description}}
    </div>
    <div>
        {{item.type}}
    </div>
    <div>
        {{item.size}}
    </div>
    <div>
        {{item.colors}}
    </div>
  </div>
  <div class='buy-part'>
      <div>
        {{item.price}}
      </div>
      <div>
        {{item.number}}
      </div>
  </div>
</div>
